<div id="<%= dom_id fridge_element %>">
  <p>
    <strong>Name:</strong>
    <%= fridge_element.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= fridge_element.quantity %>
  </p>

  <p>
    <strong>Fridge:</strong>
    <%= fridge_element.fridge_id %>
  </p>

</div>
