<h1>Editing fridge element</h1>

<%= render "form", fridge_element: @fridge_element %>

<br>

<div>
  <%= link_to "Pokaz ten produkt", @fridge_element %> |
  <%= link_to "Powrót o zawartości lodówki", fridge_elements_path %>
</div>
