<h1>Editing fridge element</h1>

<%= render "form", fridge_element: @fridge_element %>

<br>

<div>
  <%= link_to "Show this fridge element", @fridge_element %> |
  <%= link_to "Back to fridge elements", fridge_elements_path %>
</div>
