<p style="color: green"><%= notice %></p>

<h1>Fridge elements</h1>

<div id="fridge_elements">
  <% @fridge_elements.each do |fridge_element| %>
    <%= render fridge_element %>
    <p>
      <%= link_to "Pokaz ten produkt", fridge_element %>
    </p>
  <% end %>
</div>

<%= link_to "Nowy produkt", new_fridge_element_path %>
