<div id="<%= dom_id product_list %>">
  <p>
    <strong>Productlist:</strong>
    <%= product_list.productList_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product_list.description %>
  </p>

</div>
