<p style="color: green"><%= notice %></p>

<h1>Lodówki</h1>

<div id="fridges">
  <% @fridges.each do |fridge| %>
    <%= render fridge %>
    <p>
      <%= link_to "Pokaz lodówkę", fridge %>
    </p>
  <% end %>
</div>

<%= link_to "Nowa lodówka", new_fridge_path %>
