<div id="<%= dom_id recipe_element %>">
  <p>
    <strong>Name:</strong>
    <%= recipe_element.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= recipe_element.quantity %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= recipe_element.recipe_id %>
  </p>

</div>
