<h1>Edytowanie składnika</h1>

<%= render "form", recipe_element: @recipe_element %>

<br>

<div>
  <%= link_to "Pokaz ten składnik", @recipe_element %> |
  <%= link_to "Powrót do składników przepisu", recipe_elements_path %>
</div>
