<h1>Editing recipe element</h1>

<%= render "form", recipe_element: @recipe_element %>

<br>

<div>
  <%= link_to "Show this recipe element", @recipe_element %> |
  <%= link_to "Back to recipe elements", recipe_elements_path %>
</div>
